#login-navbar {
    margin-right: 1em;
    cursor: pointer;
}

#username-navbar {
    margin-left: 0.2em;
    margin-right: 1em;
}

#logout-navbar {
    margin-right: 20px;
    cursor: pointer;
}

#brand-navbar {
    margin-left: 1em;
}
