<header class="sticky-top">
    <nav class="navbar navbar-light bg-white">
        <a [routerLink]="['/animais/']" id="brand-navbar" class="navbar-brand">
            <i
                class="fa fa-bars mr-2"
                (click)="menu.abreMenu()"
                (keyup.space)="menu.abreMenu()"
            >
            </i>
            GatitoBook
        </a>

        <app-menu #menu>
            <ul class="list-unstyled">
                <li>
                    <a [routerLink]="['animais', 'novo']">Novo Animal</a>
                </li>
            </ul>
        </app-menu>

        <div *ngIf="user$ | async as user">
            <div *ngIf="usuarioLogado(); else usuarioNaoLogado">
                <i class="fa fa-user-circle mr-1"></i>
                <a id="username-navbar">{{ user.name }}</a>
                <a id="logout-navbar" (click)="logout()">Logout</a>
            </div>
        </div>

        <ng-template #usuarioNaoLogado>
            <a id="login-navbar" class="navbar-text" [routerLink]="['']">
                <span> Login </span>
            </a>
        </ng-template>
    </nav>
</header>
